
.flex-container {
    display: flex;
    justify-content: space-between;
    align-items:center
    gap: 2em;
    background-color: lightgray;
    height: auto;
    padding: 2em;
    flex-wrap: wrap;

}
.flex-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2em;
    
}

@media (min-width: 600px) {
    .flex-item {
        color: grey;
    }
}

@media (max-width: 600px) {
    .flex-item {
        color: purple;
    }
}

  .red { background: tomato; }
  .blue { background: dodgerblue; }
  .green { background: mediumseagreen; }
  .orange { background: orange; }
  .purple { background: rebeccapurple; }

